html {
    font-size: 62.5%;
}

body, div, p, a, li, ol, ul, h1, h2, h3, h4, h5, h6, span {
    margin: 0px;
    padding: 0px;
}

body {
}

a {
    color: #456431;
    text-decoration: none;
}

a:link, a:visited {
    color: #456431;
}

a:hover, a:active {
    color: black;
}

.wk-clear {
    clear: both;
    height: 0px;
}

#wk-main {
}

#wk-navbar {
    float: left;
}

#wk-navbar-items {
}

#wk-navbar-items ul {
    list-style: none;
}

#wk-navbar-items li {
    height: 28px;
    background: #3c3c3c;
    margin-bottom: 1px;
    position: relative;
    top: 0px;
    left: 0px;
}

#wk-navbar-items li a {
    font-size: 1.4em;
    color: white;
    display: block;
    padding-top: 7px;
    height: 21px;
    position: absolute;
    top: 0px;
    left: 0px;
}

#wk-navbar-items li.current {
    height: 38px;
    background: #0095d7;
}

#wk-navbar-items li.current a {
    padding-top: 12px;
    height: 26px;
}

#wk-navbar-items li .wk-navbar-subitems {
    list-style: none;
    width: 130px;
}

#wk-navbar-items li .wk-navbar-subitems li {
    height: 28px;
    background: transparent;
}

#wk-navbar-items li .wk-navbar-subitems li.current a {
    color: #0095d7;
}

#wk-navbar-items li .wk-navbar-subitems li a {
    color: black;
    font-size: 1.2em;
    padding-top: 8px;
    padding-left: 20px;
    height: 20px;
}

#wk-body {
    float: right;
}

#wk-footer {
    background: #8bc964;
    width: 100%;
    height: 27px;
    font-size: 1.2em;
}

#wk-footer-items {
    float: left;
    margin-left: 40px;
    margin-top: 8px;
}

#wk-footer-items ul {
    list-style: none;
}

#wk-footer-items ul li {
    float: left;
    margin-right: 50px;
}

#wk-footer-copyright {
    color: #456431;
    float: right;
    margin-top: 8px;
    margin-right: 20px;
}

.wk-titlebar {
    height: 42px;
}

.wk-titlebar-middle {
    height: 34px;
    background: url("../drawables/wk_titlebar_bg.png") repeat-x;
    float: left;
    padding-top: 8px;
}

.wk-titlebar-middle span {
    margin-left: 10px;
    font-size: 2em;
}

.wk-titlebar-left {
    background: url("../drawables/wk_titlebar_bg_left.png") no-repeat;
    width: 18px;
    height: 42px;
    float: left;
}

.wk-titlebar-right {
    background: url("../drawables/wk_titlebar_bg_right.png") no-repeat;
    width: 15px;
    height: 42px;
    float: right;
}

.wk-window-placeholder {
    width: 0px;
    height: 0px;
    position: relative;
    top: 0px;
    left: 0px;
}

.wk-window-mask {
    background: url("../drawables/wk_window_mask.png") repeat;
}